.first {
	padding-right: 20px;
	padding-bottom: 50px;
	padding-left: 20px;
}

.first__title {
	max-width: 380px;
	margin: 0 auto 14px;
	padding: 20px 15px;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.2;
	font-family: "Maitree", serif;
	text-align: center;
	color: rgb(255, 255, 255);
	font-style: italic;
	background: rgba(255, 246, 1, 1);
	background: linear-gradient(180deg, rgba(255, 246, 1, 1), rgba(199, 111, 22, 1));
	border-width: 2px;
	border-style: dashed;
	border-color: rgb(255, 255, 255);
	border-radius: 214px;
	transform: rotate(-10deg);
	text-decoration-line: underline;

	@media (min-width: @min-lg) {
		max-width: fit-content;
	}
}

.first__block-img {
	position: relative;
}

.first__block-img::before {
	content: '';
	position: absolute;
	bottom: 18px;
	left: -10px;
	width: 104px;
	height: 115px;
	background-image: url(../../img/vitamin-e.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transform: scale(-1, 1);

	@media (min-width: 990px) {
		width: 181px;
		height: 181px;
		background-image: url(../../img/natural-label.png);
	}
}

.first__block-img::after {
	content: "";
	position: absolute;
	right: -98px;
	bottom: -139px;
	z-index: -1;
	width: 198px;
	height: 324px;
	background-image: url(../../img/leaf.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transform: rotate(-135deg);

	@media (min-width: @min-lg) {
		z-index: -2;
		width: 493px;
		height: 572px;
	}
}


.first__img-1 {
	display: block;
	box-sizing: border-box;
	width: 170px;
	margin: 0 auto;
	border: 4px solid #fff;
	transform: rotate(-3deg);

	@media (min-width: @min-lg) {
		position: relative;
		z-index: -1;
		width: 365px;
		border-width: 7px;
	}
}

.first__img-2 {
	position: absolute;
	top: -5px;
	left: 50%;
	width: 98px;
	border: 4px solid #fff;
	transform: translateX(50%);

	@media (min-width: @min-lg) {
		width: 147px;
		border-width: 5px;
	}
}

.first-list {
	width: fit-content;
	margin: 0 auto 70px;
	padding-right: 15px;
	padding-left: 70px;
	list-style-type: none;
}

.first-item {
	position: relative;
	display: flex;
	margin-bottom: 10px;
	padding: 5px 15px 0;
	font-weight: bold;
	font-size: 11px;
	line-height: 1.6;
	font-family: "Maitree", serif;
	text-align: left;
	color: rgb(145, 81, 16);
	font-style: italic;
	background: #fdfbfb;
	background: linear-gradient(180deg, #fdfbfb, #eaedee);
	border-radius: 0px 94px 94px;
}

.first-item::before {
	content: '';
	display: block;
	width: 25px;
	height: 25px;
	margin-top: -5px;
	margin-right: 10px;
	background-position: center;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(228, 228, 228);
	border-radius: 50%;
}

.first-item {
	&.one::before {
		background-image: url(../../img/first-item-one.png);
	}

	&.two::before {
		background-image: url(../../img/first-item-two.png);
	}

	&.three::after {
		content: '';
		position: absolute;
		top: 7px;
		left: 22px;
		width: 15px;
		height: 15px;
		background-color: rgb(190, 0, 39);
		border-radius: 50%;
	}
}

@media (min-width: @min-lg) {
	.first-section {
		display: flex;
		flex-direction: column;
	}

	.first-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		order: 1;
		padding-left: 15px;
	}

	.first-item {
		align-items: center;
		margin: 0 7px;
		padding-top: 3px;
		padding-bottom: 3px;
		font-size: 16px;
	}

	.first-item::before {
		width: 39px;
		height: 39px;
		margin-top: -3px;
	}

	.first-item.three::after {
		top: 11px;
		left: 25px;
		width: 22px;
		height: 22px;
	}

	.first {
		order: 2;
	}

	.listing {
		order: 3;
	}
}


@media (min-width: @min-xl) {
	.first-section {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.first-list {
		width: 100%;
	}
}

@media (min-width: @min-xxl) {
	main {
		position: relative;
		display: flex;
		align-items: flex-end;
		width: fit-content;
		margin: 0 auto;
		padding-top: 90px;
	}

	.first-list {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.form {
		width: 400px;
	}
}
