.header {
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

.header__title {
	margin: 0;
	font-weight: 700;
	font-size: 19px;
	line-height: 1.4;
	font-family: "Maitree", serif;
	color: rgb(145, 81, 16);
	font-style: italic;
}

.header__logo {
	display: block;
	margin: 0 auto;
	width: 140px;
}
