.listing__list {
	position: relative;
	width: fit-content;
	margin: 0 auto;
	padding-left: 40px;
	list-style-type: none;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.6;
	font-family: "Maitree";
	color: #915110;
	font-style: italic;

	@media (min-width: @min-lg) {
		font-size: 18px;
	}

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	&:first-child::before {
		content: '';
		position: absolute;
		bottom: -47px;
		left: -20px;
		display: block;
		width: 89px;
		height: 75px;
		background-image: url(../../img/green-arrow.svg);

		@media (min-width: 500px) {
			left: -50px;
		}

		@media (min-width: @min-lg) {
			width: 91px;
			height: 91px;
		}
	}

	&:nth-child(2) {
		color: rgb(219, 82, 1);
	}
}

.listing__wrap {
	position: relative;
	padding-top: 70px;

	@media (max-width: @max-lg) {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 10px;
			width: 100px;
			height: 100px;
			background-image: url(../../img/natural-label.png);
			background-size: contain;
		}

		&::after {
			content: '';
			position: absolute;
			top: 97px;
			left: 10px;
			width: 80px;
			height: 80px;
			background-image: url(../../img/office-product-label.png);
			background-size: contain;
		}
	}

	@media (min-width: @min-lg) {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
	}

	& img {
		display: block;
		margin: 0 auto;
	}
}
